ul{
    margin: 0px;
    list-style: none;
}
li:not(:last-child){
    margin-bottom: 10px;
}
.current{
    color:rgb(120, 9, 148)
}
.selected {
    color:rgb(233, 114, 223);
    text-decoration: underline;
}
.input{
    margin-bottom: -5px;
    margin-left: 10px;
}
