.LoginRegistrationPage {
  width: 100%;
  display: block;
  text-align: center;
  padding-top: 50px;
}

.textField {
  background-color: rgb(253, 253, 253);
  width: 100%;
  @media screen and (min-width: 480px) {
    width: 400px;
  }
}
.margin {
  margin-bottom: 20px;
}
.button {
  align-items: center;
  justify-content: center;
  width: 150px;
}
.mainTitle {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 35px;
  color: rgb(120, 9, 148);
}

.image {
  width: 100%;

  @media screen and (min-width: 480px) {
    width: 350px;
  }
}
