.icon{
    border-radius: 50%;
}
.greet{
    display: flex;
    align-items: center;
     color:rgb(120, 9, 148);
}
.button{
     color:rgb(120, 9, 148);
     background-color:transparent;
     outline: none;
     border:none;
}
.input{
    margin-bottom: -5px;
     margin-left: 10px;
}